h3 {
  margin-top: 20px;
  margin-bottom: 20px;
}

#button1 {
  margin-left: 20px;
}

.form {
  margin: 20px;
}

#div {
  background-color: blue;
  width: auto;
  height: 100px;
}

#para {
  text-align: center;
}

#button3 {
  margin-left: 20px;
}

#name {
  background-color: darkgray;
  height: 100px;
  width: 300px;
  margin-top: 20px;
  margin-left: 20px;
}

span {
  font-size: 25px;
}

#button4 {
  margin-left: 20px;
}